/* Landscape, large screen */
@media (orientation: landscape) and (min-width: 1000px) {
  .App {
    justify-self: center;
    max-width: 750px;
  }

  #controls,
  #exitDaily,
  .gameOver,
  #rulesDemo {
    width: 100%;
  }
}
