/* Landscape, large screen */
@media (orientation: landscape) and (min-width: 1000px) {
  .App {
    --default-font-size: min(4vh, 7vw, 1cm);
    --board-box-diam: min(12vh, 120px);
    --clue-box-diam: min(4vh, 16vw);

    justify-content: center;
  }
}
