html {
  height: 100%;
}

.App {
  --default-font-size: min(1cm, min(4vmax, 7vmin));
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: min(5vmax, 10vmin);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 0;
  padding: 1px 6px;
}

select {
  font-size: var(--default-font-size);
  font-family: sans-serif;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 2px;
  text-align: center;
  color: black;
  margin: 0;
  padding: 1px 6px;
  height: fit-content;
}

#controls {
  display: grid;
  grid-template-areas:
    "nextGame rules heart";
  grid-template-columns:
    1fr
    auto
    auto;
  grid-area: controls;
  width: 100%;
  height: 5vh;
  white-space: pre;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin-right: 1vmax;
  padding: 0;
}

#nextGame {
  margin-left: 1vmax;
  grid-area: nextGame;
  font-size: calc(var(--default-font-size) * 0.75);
  display: flex;
  align-items: center;
}

#rules {
  background-image: url("./images/info.svg");
  grid-area: rules;
}

#heart {
  background-image: url("./images/heart.svg");
  grid-area: heart;
}

#info {
  white-space: pre-line;
  padding: 5vmin;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  background-color: var(--dark-color);
  justify-content: space-evenly;
  align-items: center;
  color: var(--light-color);
  font-family: sans-serif;
  font-size: calc(var(--default-font-size) * 0.75);
}

.modal a {
  color: rgb(0, 162, 255);
}

#palette {
  display: grid;
  grid-template-areas:
    "controls"
    "clues"
    "currentWord"
    "board";
  grid-template-rows:
    auto
    1fr
    auto
    auto;
}

#palette #currentWord {
  grid-area: currentWord;
  min-height: min(5vmax, 16vmin);
  overflow: hidden;
}

#gameOver {
  grid-area: currentWord;
  font-size: min(3vmax, 7vmin);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#palette #board {
  grid-area: board;
  display: grid;
  background-color: var(--dark-color);
  touch-action: none;
  justify-content: center;
  grid-template-columns: repeat(4, min(15vmax, 20vmin));
  grid-template-rows: repeat(4, min(15vmax, 20vmin));
  margin-bottom: 3vmax;
}

#palette .letter {
  touch-action: none;
  margin: 4vmin;
  background-color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: min(5vmax, 8vmin);
}

#palette .red {
  background-color: rgb(169 6 67);
}

#palette .yellow {
  background-color: rgb(183 152 3);
}

#palette .green {
  background-color: rgb(36 66 199);
}

#palette .letter.unavailable {
  opacity: 0.5;
}

#palette #currentWord,
.clue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5vmax;
}

.clue {
  /* border: 1px solid var(--light-color); */
}

#palette #clues {
  grid-area: clues;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#palette .clue.matched {
  opacity: 0.5;
}

/* clueBox is a button, so remove all button styling */
.clueBox {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
}

.clueBox,
.guessBox {
  min-height: min(4vmax, 16vmin);
  min-width: min(4vmax, 16vmin);
  border-top: 2px solid var(--light-color);
  border-left: 2px solid var(--light-color);
  border-bottom: 2px solid var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: min(3vmax, 7vmin);
}

.clueBox:last-child,
.guessBox:last-child{
  border-right: 2px solid var(--light-color);
} 

/* Landscape */

@media (orientation: landscape) {
  #palette {
    grid-template-areas:
      "clues currentWord controls"
      "clues board controls";
    grid-template-columns: 1fr auto auto;
    grid-template-rows: auto auto;
  }

  #currentWord {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #palette #currentWord {
    max-width: min(45vmax, 80vmin);
    align-self: center;
    justify-self: center;
  }

  #controls {
    display: grid;
    grid-template-areas:
      "rules"
      "heart"
      "nextGame";
    grid-template-rows:
      auto
      auto
      1fr;
    height: 100%;
    width: 6vw;
  }

  #controls button {
    width: auto;
    margin-right: 0;
    margin: 2vmax 0;
  }

  #nextGame {
    margin-bottom: 1vmax;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    text-align: right;
    justify-content: flex-end;
    display: none;
  }
}
