html {
  --default-font-size: min(4vmax, 7vmin, 40px);
  --board-box-diam: min(15vmax, 20vmin, 145px);
  --clue-box-diam: min(4vmax, 16vmin);
  --dark-color: rgb(55 54 71);
  --light-color: rgb(239 239 239);

  height: 100vh;
  background-color: var(--dark-color);
}

body {
  margin: 0;
}

.App {
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: sans-serif;
  font-size: var(--default-font-size);
  display: grid;
  height: 90vh; /* fallback if svh isn't handled */
  height: 100svh; /* use svh if supported to account for the url bar gracefully */
  width: 100vw;
  overflow: scroll;
}

small {
  font-size: calc(var(--default-font-size) * 0.5);
}

button {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
  background-color: var(--light-color);
  border: 1px solid var(--light-color);
  border-radius: 5px;
  color: black;
  margin: 10px;
  padding: 1px 6px;
}

#controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: controls;
  width: 100%;
  height: 5vh;
}

#controls > button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  width: var(--default-font-size);
  height: var(--default-font-size);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 0 1vmax 0 0;
  padding: 0;
}

#rules {
  background-image: url("./images/info.svg");
}

#stats {
  background-image: url("./images/stats.svg");
}

#heart {
  background-image: url("./images/heart.svg");
}

#install {
  background-image: url("./images/install.svg");
}

#calendarButton {
  background-image:
    url("./images/daily.svg"),
    radial-gradient(circle, rgb(239 239 239 / 60%) 30%, rgb(55 54 71));
  width: calc(var(--default-font-size) * 2);
}

#controls > #exitDailyButton {
  border: 0;
  width: fit-content;
  font-size: calc(var(--default-font-size) * 0.7);
  padding: 1px 6px;
  background-color: var(--light-color);
}

.stats {
  font-size: calc(var(--default-font-size) * 0.75);
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stats > #numbers {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
}

.statsNumber {
  text-align: center;
  margin: 5vw;
}

.statsNumber > .number {
  font-size: calc(var(--default-font-size) * 1.5);
}

.stats > #palette {
  display: grid;
  grid-template-columns: repeat(8, var(--clue-box-diam));
  grid-template-rows: repeat(11, var(--clue-box-diam));
  border: 1px solid var(--light-color);
}

.stats .swatch {
  border: 1px solid var(--light-color);
  width: 100%;
  height: 100%;
  font-size: x-small;
}

.rules {
  display: grid;
  grid-template-areas:
    "header"
    "text"
    "demo"
    "close"
    "version";
  text-align: center;
  overflow: scroll;
  font-size: calc(var(--default-font-size) * 0.75);
  justify-items: center;
  align-items: center;
}

.whatsNew {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: calc(var(--default-font-size) * 0.75);
  overflow: scroll;
}

#rulesHeader,
#whatsNewHeader {
  all: unset;
  font-size: calc(var(--default-font-size) * 1.2);
  display: block;
  font-weight: bold;
  grid-area: header;
}

#rulesText,
#whatsNewText {
  white-space: pre-line;
  margin: 0 2vmax;
  grid-area: text;
}

#rulesDemo {
  background-image: url("./images/demo.gif");
  width: 100vw;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  grid-area: demo;
}

#rulesClose,
#whatsNewClose,
#statsClose {
  height: fit-content;
  width: fit-content;
  grid-area: close;
}

#rulesVersion {
  grid-area: version;
  margin: 0 0 1vmax;
}

.info {
  white-space: pre-line;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  justify-items: center;
  justify-content: space-evenly;
  align-items: center;
  font-size: calc(var(--default-font-size) * 0.75);
}

.infoText {
  margin: 2vmax;
}

.info a,
.whatsNew a {
  color: rgb(0 162 255);
}

#lexlet {
  display: grid;
  grid-template-areas:
    "controls"
    "clues"
    "currentWord"
    "board";
  grid-template-rows:
    auto
    1fr
    auto
    1fr;
}

#lexlet #currentWord {
  grid-area: currentWord;
  height: calc(var(--clue-box-diam) * 1.5);
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

#lexlet #wordResult {
  grid-area: currentWord;
  height: calc(var(--clue-box-diam) * 1.5);
  overflow: hidden;
  justify-self: center;
  align-self: center;
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
  animation-duration: 2s;
  animation-name: fadeout;
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
}

#gameOver {
  grid-area: board;
  font-size: calc(var(--default-font-size) * 0.75);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-self: center;
  align-self: top;
  width: 70%;
  margin: 0.5vmax;
}

#gameOver #swatches {
  display: flex;
  justify-content: space-evenly;
}

#gameOver .swatch {
  position: relative;
  border: 1px solid var(--light-color);
  height: var(--clue-box-diam);
  width: var(--clue-box-diam);
}

/* The transformation variables are defined during a useEffect hook */
#gameOver .swatch::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--clue-box-diam);
  width: var(--clue-box-diam);
  background-color: inherit;
  transition: var(--delay) ease-out;
  transform-origin: center;
  transform: translateX(var(--distanceX)) translateY(var(--distanceY)) scale(0) skew(-30deg);
}

.swatchFlash {
  animation: flash 4s ease-in-out 1.8s forwards;
}

/* The color variables are defined during a useEffect hook and reflect the new colors that were discovered */
@keyframes flash {
  0% {
    background-color: transparent;
  }

  10% {
    box-shadow:
      0 0 10px 5px var(--colorA),
      inset 0 0 10px 10px var(--colorA);
  }

  20% {
    background-color: transparent;
  }

  30% {
    box-shadow:
      0 0 10px 5px var(--colorB),
      inset 0 0 10px 10px var(--colorB);
  }

  40% {
    background-color: transparent;
  }

  50% {
    box-shadow:
      0 0 10px 5px var(--colorC),
      inset 0 0 10px 10px var(--colorC);
  }

  60% {
    background-color: transparent;
  }

  70% {
    box-shadow:
      0 0 10px 5px var(--colorD),
      inset 0 0 10px 10px var(--colorD);
  }

  80% {
    background-color: transparent;
  }

  90% {
    box-shadow:
      0 0 10px 5px var(--colorE),
      inset 0 0 10px 10px var(--colorE);
  }

  100% {
    background-color: transparent;
  }
}

#lexlet #board {
  grid-area: board;
  display: grid;
  background-color: var(--dark-color);
  touch-action: none;
  justify-content: center;
  grid-template-columns: repeat(4, var(--board-box-diam));
  grid-template-rows: repeat(4, var(--board-box-diam));
  margin-bottom: 3vmax;
  justify-self: center;
  align-items: center;
  justify-items: center;
}

#lexlet .letter {
  touch-action: none;
  margin: 4vmin;
  background-color: var(--dark-color);
  font-weight: bold;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: calc(var(--default-font-size) * 1.2);
  height: 60%;
  width: 60%;
}

#lexlet .red {
  background-color: rgb(169 6 67);
  transition: background-color 2s;
}

#lexlet .yellow {
  background-color: rgb(183 152 3);
  transition: background-color 2s;
}

#lexlet .blue {
  background-color: rgb(36 66 199);
  transition: background-color 2s;
}

#lexlet .letter.unavailable {
  opacity: 0.5;
}

#lexlet #currentWord,
.clue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5vmax;
}

#lexlet #clues {
  grid-area: clues;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* clueBox is a button, so remove all button styling */
.clueBox {
  all: unset;
  text-decoration: none;
  text-align: center;
  appearance: none;
}

.clueBox,
.guessBox {
  min-height: var(--clue-box-diam);
  min-width: var(--clue-box-diam);
  border-top: 2px solid var(--light-color);
  border-left: 2px solid var(--light-color);
  border-bottom: 2px solid var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: calc(var(--default-font-size) * 0.8);
}

.clueBox:last-child,
.guessBox:last-child {
  border-right: 2px solid var(--light-color);
}

/* Landscape, large screen */
@media (orientation: landscape) and (min-width: 1000px) {
  .App {
    --default-font-size: min(4vh, 7vw, 1cm);
    --board-box-diam: min(12vh, 120px);
    --clue-box-diam: min(4vh, 16vw);

    justify-content: center;
  }
}
